@model IEnumerable<Gatinho>

<style>
    .card {
        margin-bottom: 20px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card img {
        height: 300px;
        object-fit: cover;
    }
    .btn{
        border: none;
        background-color: #746cfc;
        width: 100%;
    }
    .btn:hover{
        background-color: #9494cc;
    }
</style>

<div class="row">
    <h2 style="color: #746cfc" class="mb-4 d-flex align-items-center justify-content-center">Gatinhos disponíveis para adoção:</h2>

    @foreach (var gatinho in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@gatinho.Imagem" class="card-img-top" alt="Imagem do gatinho">
                <div class="card-body">
                    <h5 class="card-title">@gatinho.Nome</h5>
                    <p class="card-text">Sexo: @gatinho.Sexo</p>
                    <a asp-controller="Adocao" asp-action="Create" asp-route-gatinhoId="@gatinho.Id" class="btn btn-primary">Adotar</a>
                </div>
            </div>
        </div>
    }
</div>
